@media (max-width: 700px) {
  body {
    height: 100vh;
    background-color: red;
  }

  header {
    margin: 6.5rem 0 3rem;
  }

  .container .cards-wrapper {
    display: grid;
    grid-template-columns: repeat(1, 70vw);
  }
}